<!--<div class="container">
<form accept-charset="UTF-8" action="/log in" data-remote="true" method="get">
<label for="name"> Name</label>
<input id="name" name="Name" placeholder="Enter your name" type="text"/>

<label for="email"> Email</label>
<input id="email" name="mail" placeholder="Enter email" type="text"/>

<label for="psw"> Password</label>
<input id="password" name="Password" placeholder="Enter password" type="text"/>

<label for="rpt-password"> Repeat Password</label>
<input id="rpt-password" name="Rpt-password" placeholder="Repeat passwprd" type="text"/>

<hr>

<button type="submit" class="login-btn"> Login </button> 
</form>
</div>--->